/* align items to the left if screen is wider than 1100px */
#what .item {
  display:flex;
  text-align: left;
}

/* align icons to the left if screen is wider than 1100px */
#what .item i {
margin-right:1.3rem;
align-self:center;
margin-bottom:0;
}


#contact .contact-map {
  flex: 2;
}


